
/* base */
html, body {
	height: 100%;
	margin: 0;
	padding: 0px;
	overflow: hidden;
}

iframe {
user-select: none;
-webkit-user-select: none;
}

.gjs-input-holder > select { background-color: #2F2F2F; }