/* default */

/* components */
	.bhslab-component {
		color: #757575 !important;
		font-size: 18px !important;
	}

/* gridstack: main; */
	.grid-stack {
		background: #F8F8F8;

		/* add a width to specify the width and height of the page */
		/* grid still remains at 12 */
		/*width: 1000px;*/
	}

	.grid-stack-item-content { 
		/*padding: 10px;*/
	}

	.grid-stack-item .grid-stack-item-content,
	.grid-stack-item .placeholder-content {
		left: 0px !important;
		right: 0px !important;
	}


	.grid-stack-item .ui-resizable-e,
	.grid-stack-item .ui-resizable-se { 
		right: 0px !important; 
	}
	
	.grid-stack-item .ui-resizable-sw,
	.grid-stack-item .ui-resizable-w { 
		left: 0px !important; 
	}

	.bhslab-content { border: 1px dashed #DDD; }

	.bhslab-content-lastClicked { border: 2px dashed black; }

/* pdf reports - template */
	.pdf-report {
		background: #fff !important;
	}