<!DOCTYPE html>
<html>
	<head>
		<title>BHS Lab</title>
		<link rel="shortcut icon" href="#" />

		<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
		<link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
		<link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">

		<link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">

		<link rel="stylesheet" href="https://unpkg.com/vue-material@0.7.1/dist/vue-material.css">
		<link rel="stylesheet" href="frontend/css/bhs-user-dashboard.css">
		<link rel="stylesheet" href="http://ricostacruz.com/nprogress/nprogress.css">
		<!-- <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/gridstack.js/0.2.6/gridstack.min.css" /> -->

		<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
		<!-- <script src="https://cdn.jsdelivr.net/lodash/4.17.4/lodash.min.js"></script> -->
		<!-- <script type="text/javascript" src='//cdnjs.cloudflare.com/ajax/libs/gridstack.js/0.2.6/gridstack.min.js'></script> -->
		<script src="https://unpkg.com/vue/dist/vue.js"></script>
		<script src="https://unpkg.com/vue-material@0.7.1"></script>
		<script src="http://ricostacruz.com/nprogress/nprogress.js"></script>

		<script type="text/javascript">
			if(localStorage.getItem("bhs-user") == null){ location.replace("/"); }
		</script>
	</head>

	<body>

		<!-- BHS Lab - User Console -->
		<div id="bhsdashboard">
			<div v-cloak>

				<!-- Dashboard -->
				<md-layout md-gutter md-align="center">

					<!-- Profile + Search Friends -->
					<md-layout md-column md-gutter md-flex-xsmall="100" md-flex-small="50" md-flex-medium="20" md-flex-large="20" md-flex-xlarge="20" v-if="bhsuser_var_user['toggleCircle']">
						<div class="bhsuser-dashboard-profilepanel-toolbar">
							<h2 class="md-title" style="flex: 1">BHS - Lab</h2>
						</div>
							<div class="bhsuser-dashboard-profilepanel-searchuser">
								<form @submit.stop.prevent="" class="bhsuser-dashboard-profilepanel-searchuser">
									<!-- <span class="md-caption">Your <b>Circle</b> has <u>250</u> members</span> -->
									<md-input-container>
										<label>Search</label>
										<md-input v-model="bhsuser_var_circleSearch"></md-input>
									</md-input-container>
								</form>
							</div>
							<div class="bhsuser-dashboard-profilepanel">
								<md-list class="md-double-line md-dense">
									<md-list-item v-for="(nth, index) in bhsuser_computed_searchCircle" :key="index">
										<md-avatar>
											<img :src="'https://placeimg.com/40/40/people/1?'+index" alt="People">
										</md-avatar>

										<div class="md-list-text-container">
											<span>{{ nth["email"] }}</span>
											<span><small>{{ nth["time"] }}</small></span>
										</div>

										<md-icon class="bhsuser-dashboard-profilepanel-online md-primary" v-if="nth['status'] == 'onLogin'">brightness_1</md-icon>
										<md-icon class="bhsuser-dashboard-profilepanel-online md-accent" v-if="nth['status'] == 'onLogout'">brightness_1</md-icon>
										<md-tooltip md-delay="400" md-direction="right" v-if="nth['status'] == 'onLogin'">Online</md-tooltip>
										<md-tooltip md-delay="400" md-direction="right" v-if="nth['status'] == 'onLogout'">Offline</md-tooltip>
										<md-divider v-if="index != (bhsuser_var_user['myCircle'].length - 1)"></md-divider>
									</md-list-item>
								</md-list>
							</div>
					</md-layout>

					<!-- Timeline + Notifications -->
					<md-layout md-column md-flex-xsmall="100" md-flex-small="50" md-flex-medium="20" md-flex-large="20" md-flex-xlarge="20" v-if="bhsuser_var_user['toggleTimeline']">
						<md-list class="md-triple-line md-dense bhsuser-dashboard-timelinepanel">
							<md-list-item>
								<div class="md-list-text-container">
									<span><b>Activity Timeline</b></span>
									<span><small>You have {{ bhsuser_func_historyCount(this.bhsuser_var_user["myHistory"]) }} form activities as of</small></span>
									<span><small>{{ bhsuser_func_historyStart(this.bhsuser_var_user["myHistory"]) }}</small></span>
								</div>
								<md-menu md-direction="bottom left">
									<md-button class="md-icon-button" md-menu-trigger>
										<md-icon>more_vert</md-icon>
									</md-button>

									<md-menu-content>
										<md-menu-item><span><small>Filter By:</small></span></md-menu-item>
										<md-divider></md-divider>
										<md-menu-item @click.native="bhsuser_var_historyFilter = null"><span><small>All</small></span></md-menu-item>
										<md-menu-item @click.native="bhsuser_var_historyFilter = 'submissions'"><span><small>Submissions</small></span><md-icon>send</md-icon></md-menu-item>
										<md-menu-item @click.native="bhsuser_var_historyFilter = 'updates'"><span><small>Updates</small></span><md-icon>edit</md-icon></md-menu-item>
										<!-- <md-menu-item @click.native="bhsuser_var_historyFilter = 'deletes'"><span><small><u>D</u>eleted</small></span><md-icon>delete</md-icon></md-menu-item>
										<md-divider></md-divider>
										<md-menu-item onclick="console.log('can be combined with other filters');" @click.native="$refs.formHistory.open();"><span><small><u>F</u>orm</small></span><md-icon>timeline</md-icon></md-menu-item> -->
									</md-menu-content>
								</md-menu>
								<md-divider></md-divider>
							</md-list-item>

							<md-list-item class="has-ripple bhsuser-dashboard-timelinepanel-item" v-for="(nth, index) in bhsuser_computed_filteredHistory" :key="index">
								<md-icon class="md-warn bhsuser-dashboard-timelinepanel-tags" v-if="nth['status'] == 'onShareForm'">share</md-icon>
								<md-icon class="md-accent bhsuser-dashboard-timelinepanel-tags" v-if="nth['status'] == 'onDeleteForm'">delete</md-icon>
								<md-icon class="md-primary bhsuser-dashboard-timelinepanel-tags" v-if="nth['status'] == 'onCreateForm'">add</md-icon>
								<md-icon class="md-warn bhsuser-dashboard-timelinepanel-tags" v-if="nth['status'] == 'onUpdateForm'">edit</md-icon>
								<!-- <md-icon class="md-warn bhsuser-dashboard-timelinepanel-tags" v-if="nth['status'] == 'onUnshareForm'">share</md-icon> -->
								<!-- <md-icon class="md-default bhsuser-dashboard-timelinepanel-tags" v-if="nth['status'] == 'onDownloadForm'">file_download</md-icon> -->
								<md-icon class="md-primary bhsuser-dashboard-timelinepanel-tags" v-if="nth['status'] == 'onResponse'">send</md-icon>
								<md-icon class="md-warn bhsuser-dashboard-timelinepanel-tags" v-if="nth['status'] == 'onUpdateResponse'">edit</md-icon>
								<md-icon class="md-accent bhsuser-dashboard-timelinepanel-tags" v-if="nth['status'] == 'onDeleteResponse'">delete</md-icon>
								<!-- <md-icon class="md-default bhsuser-dashboard-timelinepanel-tags" v-if="nth['status'] == 'onDownloadResponse'">file_download</md-icon> -->

								<div class="md-list-text-container">
									<span><b>{{ bhsuser_func_historyEmail(nth["email"]) }}</b> <small>{{ bhsuser_func_historyStatus(nth["status"]) }}</small></span>
									<span class="md-body-1 uppercase">{{ nth["title"] }}</span>
									<span><small>{{ nth["time"] }}</small></span>
								</div>
								<!-- <md-ink-ripple /> -->
							</md-list-item>
						</md-list>
					</md-layout>

					<!-- Overview + View forms + My responses -->
					<md-layout md-column>
						<div class="bhsuser-dashboard-overviewpanel-toolbar">
							<md-menu class="bhsuser-dashboard-overviewpanel-toolbar-menu">
								<md-button md-menu-trigger>
									<md-icon class="bhsuser-dashboard-overviewpanel-navIcon">menu</md-icon>
								</md-button>

								<md-menu-content>
									<md-menu-item @click.native="bhsuser_func_changeView('welcome_home');">
										<span><small><u>H</u>ome</small></span>
										<md-icon>home</md-icon>
									</md-menu-item>
									<md-menu-item @click.native="bhsuser_var_user['toggleTimeline'] = !bhsuser_var_user['toggleTimeline']; bhsuser_func_autoFocus();">
										<span><small><u>T</u>oggle Timeline</small></span>
										<md-icon>settings</md-icon>
									</md-menu-item>
									<md-menu-item @click.native="bhsuser_var_user['toggleCircle'] = !bhsuser_var_user['toggleCircle']; bhsuser_func_autoFocus();">
										<span><small><u>T</u>oggle Circle</small></span>
										<md-icon>settings</md-icon>
									</md-menu-item>
									<md-menu-item @click.native="$refs.changePassword.open();">
										<span><small><u>C</u>hange Password</small></span>
										<md-icon>person_outline</md-icon>
									</md-menu-item>
									<md-menu-item onclick="window.open('/bhs-gallery', '_blank').focus();">
										<span><small><u>G</u>allery</small></span>
										<md-icon>images</md-icon>
									</md-menu-item>
									<md-divider></md-divider>
									<md-menu-item @click.native="bhsuser_func_logout">
										<span><small><u>L</u>ogout</small></span>
										<md-icon>close</md-icon>
									</md-menu-item>
								</md-menu-content>
							</md-menu>

							<md-menu class="bhsuser-dashboard-overviewpanel-toolbar-menuCommon">
								<span class="md-body-1 bhsuser-dashboard-overviewpanel-nav" md-menu-trigger>Forms</span>

								<md-menu-content>
									<md-menu-item @click.native="$refs.newForm.open();">
										<span><small>New Template</small></span>
										<md-icon>content_copy</md-icon>
									</md-menu-item>
									<md-menu-item @click.native="bhsuser_func_changeView('forms');bhsuser_func_getForms(null, false);">
										<span><small>View Forms</small></span>
										<md-icon>content_paste</md-icon>
									</md-menu-item>
									<md-menu-item @click.native="bhsuser_func_changeView('response');bhsuser_func_getSubmission(null, false);">
										<span><small>Submissions</small></span>
										<md-icon>question_answer</md-icon>
									</md-menu-item>
								</md-menu-content>
							</md-menu>
						</div>

						<!-- welcome HOME -->
						<div class="bhsuser-dashboard-overviewpanel-content" id="welcome" v-if="bhsuser_var_view['welcome_home']">
							<md-layout class="bhsuser-dashboard-overviewpanel-home-welcome" md-align="center">
								<center>
									<span class="md-display-1">Welcome back, </span><br><br>
									<span class="md-display-3"><b>{{ bhsuser_var_user["email"] }}</b></span><br><br>
									<span class="md-title"><a href="#">#bhs - lab</a></span>
								</center>
							</md-layout>
						</div>

						<!-- responses/submissions -->
						<div class="bhsuser-dashboard-overviewpanel-content" id="response" v-if="bhsuser_var_view['response']">
							<md-layout class="bhsuser-dashboard-overviewpanel-response-overview">
								<md-layout md-column>
									<div class="bhsuser-dashboard-overviewpanel-rOV-panel">
										<span class="md-subheading"><small>- You <b>SENT</b> -</small></span><br><br>
										<span class="md-display-3">{{ bhsuser_var_response_counters["response_sent"] }}</span><br>
										<span class="md-subheading"><small>Total Responses</small></span>
									</div>
								</md-layout>

								<md-layout md-column>
									<div class="bhsuser-dashboard-overviewpanel-rOV-panel">
										<span class="md-subheading"><small>- You <b>RECEIVED</b> -</small></span><br><br>
										<span class="md-display-3">{{ bhsuser_var_response_counters["response_received"] }}</span><br>
										<span class="md-subheading"><small>Total Responses</small></span>
									</div>
								</md-layout>

								<md-layout md-column>
									<div class="bhsuser-dashboard-overviewpanel-rOV-panel">
										<span class="md-subheading"><small>- You have -</small></span><br><br>
										<span class="md-display-3">{{ bhsuser_var_response_counters["response_total"] }}</span><br>
										<span class="md-subheading"><small>Total Responses</small></span>
									</div>
								</md-layout>
							</md-layout>

							<md-tabs md-theme="tabsResp">
								<md-tab id="responses" md-label="Submissions">
									<!-- search -->
									<form @submit.stop.prevent="">
										<md-input-container>
											<label>Search for Submissions</label>
											<md-input id="submissionId" v-model="bhsuser_var_responseSearch"></md-input>
										</md-input-container>
									</form>

									<!-- list -->
									<md-list class="md-triple-line">
										<md-list-item v-for="(nth, index) in bhsuser_computed_searchSubmissions" :key="index">
											<div class="md-list-text-container">
												<span><small>to:</small> {{ nth["title"] }}</span>
												<span><small>{{ nth["respondent"] }}</small></span>
												<span><small>Created: {{ nth["time"] }}</small></span>
											</div>
											
											<md-menu md-direction="bottom left">
												<md-button class="md-icon-button" md-menu-trigger>
													<md-icon>more_vert</md-icon>
												</md-button>

												<md-menu-content>
													<md-menu-item @click.native="bhsuser_func_getSubmission(nth['response_id'], false);bhsuser_func_activeStagedLink('form_fillup');"><span><small>Review</small></span><md-icon>content_paste</md-icon></md-menu-item>
													<!-- <md-menu-item @click.native="bhsuser_func_getSubmission(nth['response_id'], true);"><span><small>Download</small></span><md-icon>file_download</md-icon></md-menu-item> -->
													<md-divider></md-divider>
													<md-menu-item @click.native="$refs.deleteReponse.open();bhsuser_func_stageDeleteResponse(nth);"><span><small>Delete</small></span><md-icon>delete</md-icon></md-menu-item>
												</md-menu-content>
											</md-menu>
											<md-divider v-if="index != (bhsuser_var_user['myResponses'].length - 1)"></md-divider>
										</md-list-item>
									</md-list>
								</md-tab>
							</md-tabs>
						</div>

						<!-- forms -->
						<div class="bhsuser-dashboard-overviewpanel-content" id="forms" v-if="bhsuser_var_view['forms']">
							<md-layout class="bhsuser-dashboard-overviewpanel-forms-overview">
								<md-layout md-column>
									<div class="bhsuser-dashboard-overviewpanel-fOV-panel">
										<span class="md-subheading"><small>- You Authored -</small></span><br><br>
										<span class="md-display-3">{{ bhsuser_var_form_counters["form_authored"] }}</span><br>
										<span class="md-subheading"><small>Form Templates</small></span>
									</div>
								</md-layout>

								<md-layout md-column>
									<div class="bhsuser-dashboard-overviewpanel-fOV-panel">
										<span class="md-subheading"><small>- You have -</small></span><br><br>
										<span class="md-display-3">{{ bhsuser_var_form_counters["form_shared"] }}</span><br>
										<span class="md-subheading"><small>Shared Forms</small></span>
									</div>
								</md-layout>

								<md-layout md-column>
									<div class="bhsuser-dashboard-overviewpanel-fOV-panel">
										<span class="md-subheading"><small>- You Have -</small></span><br><br>
										<span class="md-display-3">{{ bhsuser_var_form_counters["form_total"] }}</span><br>
										<span class="md-subheading"><small>Forms in Total</small></span>
									</div>
								</md-layout>
							</md-layout>

							<md-tabs md-theme="tabsForm">
								<md-tab id="forms_list" md-label="Forms List">
									<!-- search -->
									<form @submit.stop.prevent="">
										<md-input-container>
											<label>Search for Forms</label>
											<md-input id="formsId" v-model="bhsuser_var_formSearch"></md-input>
										</md-input-container>
									</form>

									<!-- list -->
									<md-list class="md-double-line">
										<md-list-item v-for="(nth, index) in bhsuser_computed_searchForm" :key="index">
											<div class="md-list-text-container" onclick="console.log('open new tab showing uneditable content');">
												<span>{{ nth["title"] }}</span>
												<span><small>Created: {{ nth["time"] }}</small></span>
											</div>
											
											<md-menu md-direction="bottom left">
												<md-button class="md-icon-button" md-menu-trigger>
													<md-icon>more_vert</md-icon>
												</md-button>

												<md-menu-content>
													<md-menu-item @click.native="bhsuser_func_getForms(nth['token'], false);bhsuser_func_activeStagedLink('form_builder');"><span><small>Update</small></span><md-icon>edit</md-icon></md-menu-item>
													<md-menu-item @click.native="bhsuser_func_createSubmission(nth['token']);bhsuser_func_activeStagedLink('form_fillup');"><span><small>Make Submission</small></span><md-icon>content_paste</md-icon></md-menu-item>
													<md-menu-item @click.native="$refs.shareForm.open();bhsuser_func_stageShared(nth);"><span><small>Share/Unshare</small></span><md-icon>share</md-icon></md-menu-item>
													<!-- <md-menu-item @click.native="bhsuser_func_getForms(nth['token'], true);"><span><small>Download</small></span><md-icon>file_download</md-icon></md-menu-item> -->
													<md-divider></md-divider>
													<md-menu-item @click.native="$refs.deleteForm.open();bhsuser_func_stageDeleteForm(nth);"><span><small>Delete</small></span><md-icon>delete</md-icon></md-menu-item>
												</md-menu-content>
											</md-menu>
											<md-divider v-if="index != (bhsuser_var_user['myForms'].length - 1)"></md-divider>
										</md-list-item>
									</md-list>
								</md-tab>
							</md-tabs>
						</div>

						<!-- builder -->
						<div class="bhsuser-dashboard-overviewpanel-content" id="builderNote" v-if="bhsuser_var_view['builder']">
							<md-layout class="bhsuser-dashboard-overviewpanel-dndPanel" md-align="center">
								<center>
									<span class="md-display-1">Builder is Ready...</span><br><br>
									<span class="md-title">
										<span v-if="bhsuser_stage_triggered['form_builder']">Click <a href="/bhs-builder-2.0">#here</a> to open the builder.</span>
										<span v-if="bhsuser_stage_triggered['form_fillup']">Click <a href="/form-fill-up">#here</a> to fill up the form.</span>
									</span>
								</center>
								<!-- {{ bhsuser_var_builderStaged }} -->
							</md-layout>
						</div>
					</md-layout>
				</md-layout>
				<!-- ==================================== -->
				


				<!-- confirmations and popups -->
					<md-snackbar :md-position="'top center'" ref="snackbar" :md-duration="'4000'">
						<span>{{ bhsuser_var_snackbar }}</span>
						<md-button @click.native="$refs.snackbar.close()"><span class="lnr lnr-cross"></span></md-button>
					</md-snackbar>

					<!-- change password -->
					<md-dialog md-open-from="#custom" md-close-to="#custom" ref="changePassword">
						<md-dialog-title><md-icon>person_outline</md-icon> <small>Change Password</small></md-dialog-title>

						<md-dialog-content>
							<form @submit.stop.prevent="$refs.changePassword.close();bhsuser_func_changePassword();">
								<md-input-container md-has-password>
									<label>New Password</label>
									<md-input type="password" v-model="bhsuser_var_user['newPassword']" required></md-input>
								</md-input-container>
								<center>
									<md-button class="md-raised md-default" type="reset" @click.native="$refs.changePassword.close();">Cancel</md-button>
									<md-button class="md-raised md-primary bhs-index-main-form-button" type="submit">Create</md-button>
								</center>
							</form>
						</md-dialog-content>
					</md-dialog>

					<!-- create new form -->
					<md-dialog md-open-from="#custom" md-close-to="#custom" ref="newForm">
						<md-dialog-title><md-icon>content_copy</md-icon> <small>New Form</small></md-dialog-title>

						<md-dialog-content>
							<form @submit.stop.prevent="$refs.newForm.close();bhsuser_func_createForm();bhsuser_func_activeStagedLink('form_builder');">
								<md-input-container>
									<label>Form Name</label>
									<md-input pattern=".{5,}" required title="5 Characters minimum" v-model="bhsuser_var_user['newFormName']" id="newFormName"></md-input>
								</md-input-container>
								<center>
									<md-button class="md-raised md-default" type="reset" @click.native="$refs.newForm.close();">Cancel</md-button>
									<md-button class="md-raised md-primary bhs-index-main-form-button" type="submit">Create</md-button>
								</center>
							</form>
						</md-dialog-content>
					</md-dialog>

					<!-- form: delete -->
					<md-dialog md-open-from="#custom" md-close-to="#custom" ref="deleteForm">
						<md-dialog-title><md-icon>delete</md-icon> <small>Delete Form</small></md-dialog-title>

						<md-dialog-content>
							<p>Are you sure to remove <b>{{ bhsuser_var_deleteStagedForm["form_title"] }}</b>? This cannot be undo.</p>
						</md-dialog-content>

						<md-dialog-actions>
							<md-button class="md-primary" @click.native="$refs.deleteForm.close();">Cancel</md-button>
							<md-button class="md-primary" @click.native="$refs.deleteForm.close();bhsuser_func_deleteForm();">Ok</md-button>
						</md-dialog-actions>
					</md-dialog>

					<!-- response: delete -->
					<md-dialog md-open-from="#custom" md-close-to="#custom" ref="deleteReponse">
						<md-dialog-title><md-icon>delete</md-icon> <small>Delete Response</small></md-dialog-title>

						<md-dialog-content>
							<p>Are you to remove your response to form <b>{{ bhsuser_var_deleteStagedResponse["response_form"] }}<b>? This cannot be undo.</p>
						</md-dialog-content>

						<md-dialog-actions>
							<md-button class="md-primary" @click.native="$refs.deleteReponse.close();">Cancel</md-button>
							<md-button class="md-primary" @click.native="$refs.deleteReponse.close();bhsuser_func_deleteResponse();">Ok</md-button>
						</md-dialog-actions>
					</md-dialog>

					<!-- share -->
					<md-dialog md-open-from="#custom" md-close-to="#custom" ref="shareForm">
						<md-dialog-title>
							<md-icon>share</md-icon> <small>Share to Your Circle</small>
						</md-dialog-title>

						<md-dialog-content>
							<md-input-container>
								<label>Share To</label>
								<md-select name="bhsuser_var_sharedStaged" id="bhsuser_var_sharedStaged" multiple v-model="bhsuser_var_sharedStaged['arr']">
									<md-subheader>Share {{ bhsuser_var_sharedStaged['title'] }}</md-subheader>
									<span v-for="(nth, index) in bhsuser_var_user['myCircle']" :key="index">
										<md-option v-bind:value="nth['token']">{{ nth["email"] }}</md-option>
									</span>
								</md-select>
							</md-input-container>
						</md-dialog-content>

						<md-dialog-actions>
							<md-button class="md-primary" @click.native="$refs.shareForm.close();">Close</md-button>
							<md-button class="md-primary" @click.native="$refs.shareForm.close();bhsuser_func_shareUnshare();">Save</md-button>
						</md-dialog-actions>
					</md-dialog>

					<!-- form: form history -->
					<!-- <md-dialog md-open-from="#custom" md-close-to="#custom" ref="formHistory">
						<md-dialog-title>
							<md-icon>timeline</md-icon> <small>Select a Form</small>
						</md-dialog-title>

						<md-dialog-content>
							<md-input-container>
								<label for="filter_forms_sample">Filter by Forms</label>
								<md-select name="filter_forms_sample" id="filter_forms_sample" multiple v-model="filter_forms_sample">
									<md-subheader>Forms</md-subheader>
									<md-option value="form_1">form_1</md-option>
									<md-option value="form_2">form_2n</md-option>
									<md-option value="form_3">form_3r</md-option>
									<md-option value="form_4">Rform_4</md-option>
								</md-select>
							</md-input-container>
						</md-dialog-content>

						<md-dialog-actions>
							<md-button class="md-primary" @click.native="$refs.formHistory.close();">Close</md-button>
							<md-button class="md-primary" onclick="console.log('filter activity');" @click.native="$refs.formHistory.close();">Save</md-button>
						</md-dialog-actions>
					</md-dialog> -->
				<!-- ===================================== -->

			</div>
		</div>

		<script src="config/conf.json"></script>
		<script src="frontend/js/bhs-user-dashboard.js"></script>
	</body>
</html>