
/* default */


/* navbar */
.bhsadmin-dashboard-navbar-title {
	font-family: 'Titillium Web', sans-serif;
	font-weight: bold !important;
	letter-spacing: 2px;
}


/* table */
.bhsadmin-dashboard-table-main {
	padding: 5%;
}

/* CRUD */
.bhsadmin-dashboard-crud {
	padding: 2% 7% 0% 7%;
}

.bhsadmin-dashboard-crud-fields {
	padding-left: 10px;
	padding-right: 10px
}

.bhsadmin-dashboard-table-iconFun {
	margin-right: 10px;
	cursor: pointer;
}

.md-title {
	font-size: 15px !important;
}

[v-cloak] {
	display: none;
}