
/* Default */
body {
	background-color: #FFFFFF !important;
	background: url("../img/bg.jpg") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/* Main panel */
.bhs-index-main {
	padding-top: 7%;
}

.bhs-index-main-panel {
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0px 1px 5px #5b5b5b;
}

/* left */
.bhs-left-index-panel {
	background-color: #428DDE;
	padding: 5%;

	background: url("../img/panel.jpeg") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/* Right */
.bhs-right-index-panel {
	background-color: #FFFFFF;
	padding: 5%;
}

.bhs-index-main-title {
	font-family: 'Titillium Web', sans-serif;
	font-size: 60px;
	color: #FFFFFF;
	line-height: 80px;
	margin-bottom: 10px;
	margin-top: 10px;
	/*font-weight: 600;*/
}

.bhs-index-main-subtitle {
	color: #FFFFFF;
	font-size: 16px;
	font-weight: 100;
	margin-top: 6px;
}

.bhs-index-main-form {
	width: 100%;
}

.bhs-index-main-form-button {
	width: 48%;
	margin: 0px;
	/*background-color: #428DDE !important;*/
	/*color: #FFFFFF !important;*/
}

.bhs-index-main-form-title {
	font-weight: 100;
}

[v-cloak] {
	display: none;
}