<!DOCTYPE html>
<html>
	<head>
		<title>BHS Lab - Admin Console</title>
		<link rel="shortcut icon" href="#" />

		<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
		<link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
		<link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">

		<link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">

		<link rel="stylesheet" href="https://unpkg.com/vue-material@0.7.1/dist/vue-material.css">
		<link rel="stylesheet" href="frontend/css/bhs-admin-dashboard.css">
		<link rel="stylesheet" href="http://ricostacruz.com/nprogress/nprogress.css">

		<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
		<script src="https://unpkg.com/vue/dist/vue.js"></script>
		<script src="https://unpkg.com/vue-material@0.7.1"></script>
		<script src="http://ricostacruz.com/nprogress/nprogress.js"></script>

		<script type="text/javascript">
			if(localStorage.getItem("admin") == null){ location.replace("/");}
		</script>
	</head>

	<body>

		<!-- BHS Lab - Admin Console -->
		<div id="app" class="bhs-index-main">
			<div v-cloak>
				<!-- navbar -->
				<md-toolbar class="md-dense" md-theme="toolbar">
					<h2 class="md-title bhsadmin-dashboard-navbar-title" style="flex: 1">BHS - Lab</h2>

					<md-button @click.native="bhsadmin_func_unloadUser();$refs.addUser.open()">
						<md-icon>add</md-icon>
					</md-button>
					<md-button @click.native="bhsadmin_func_logout">
						<md-icon>close</md-icon>
					</md-button>
				</md-toolbar>

				<!-- user tables -->
				<md-table class="bhsadmin-dashboard-table-main">
					<md-table-header>
						<md-table-row>
							<md-table-head class="md-title">ID</md-table-head>
							<md-table-head class="md-title">E-MAIL</md-table-head>
							<md-table-head class="md-title">PASSWORD</md-table-head>
							<md-table-head class="md-title">+ TIMESTAMP</md-table-head>
						</md-table-row>
					</md-table-header>

					<md-table-body>
						<md-table-row v-for="nth in bhsadmin_var_userList">
							<md-table-cell>{{ nth._id }}</md-table-cell>
							<md-table-cell>{{ nth.bhs_email }}</md-table-cell>
							<md-table-cell>{{ nth.bhs_password }}</md-table-cell>
							<md-table-cell>{{ nth._date_time }}</md-table-cell>
							<md-table-cell>
								<center>
									<md-icon class="bhsadmin-dashboard-table-iconFun" @click.native="bhsadmin_func_deleteUser(nth)">delete</md-icon>
									<md-icon class="bhsadmin-dashboard-table-iconFun" @click.native="$refs.editUser.open();bhsadmin_func_loadUser(nth)">edit</md-icon>
								</center>
							</md-table-cell>
						</md-table-row>
					</md-table-body>
				</md-table>

				<md-snackbar :md-position="'top center'" ref="snackbar" :md-duration="'4000'">
					<span>{{ bhsadmin_var_snackbar }}</span>
					<md-button @click.native="$refs.snackbar.close()"><span class="lnr lnr-cross"></span></md-button>
				</md-snackbar>

				<md-dialog ref="addUser">
					<md-dialog-content>
						<form @submit.stop.prevent="bhsadmin_func_addUser">
							<md-input-container>
								<label>Email <small>+8 chars</small></label>
								<md-input type="email" v-model="bhsadmin_var_email" required></md-input>
							</md-input-container>
							<md-input-container md-has-password>
								<label>Password <small>+8 chars</small></label>
								<md-input type="password" v-model="bhsadmin_var_password" required></md-input>
							</md-input-container>
							<center>
								<md-button class="md-raised md-default bhs-index-main-form-button" @click.native="$refs.addUser.close();bhsadmin_func_unloadUser()">Cancel</md-button>
								<md-button class="md-raised md-primary bhs-index-main-form-button" type="submit">Submit</md-button>
							</center>
						</form>
					</md-dialog-content>
				</md-dialog>

				<md-dialog ref="editUser">
					<md-dialog-content>
						<form @submit.stop.prevent="bhsadmin_func_editUser">
							<md-input-container>
								<label>Email <small>+8 chars</small></label>
								<md-input type="email" v-model="bhsadmin_var_email_toEdit" required></md-input>
							</md-input-container>
							<md-input-container>
								<label>Password <small>+8 chars</small></label>
								<md-input type="password" v-model="bhsadmin_var_password_toEdit" required disabled></md-input>
							</md-input-container>
							<center>
								<md-button class="md-raised md-default bhs-index-main-form-button" @click.native="$refs.editUser.close();bhsadmin_func_unloadUser()">Cancel</md-button>
								<md-button class="md-raised md-warn bhs-index-main-form-button" type="submit">Update</md-button>
							</center>
						</form>
					</md-dialog-content>
				</md-dialog>
			</div>
		</div>

		<script src="frontend/js/conf.json"></script>
		<script src="frontend/js/bhs-admin-dashboard.js"></script>
	</body>
</html>