<!DOCTYPE html>
<html>
	<head>
		<title>BHS Lab - Admin Console</title>
		<link rel="shortcut icon" href="#" />

		<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
		<link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
		<link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">

		<link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">

		<link rel="stylesheet" href="https://unpkg.com/vue-material@0.7.1/dist/vue-material.css">
		<link rel="stylesheet" href="frontend/css/bhs-admin-index.css">
		<link rel="stylesheet" href="http://ricostacruz.com/nprogress/nprogress.css">

		<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
		<script src="https://unpkg.com/vue/dist/vue.js"></script>
		<script src="https://unpkg.com/vue-material@0.7.1"></script>
		<script src="http://ricostacruz.com/nprogress/nprogress.js"></script>

		<script type="text/javascript">
			if(localStorage.getItem("admin") != null){ location.replace("/admin");}
		</script>
	</head>

	<body>

		<!-- BHS Lab - Admin Console -->
		<div id="app" class="bhs-index-main">
			<div v-cloak>
				<md-layout md-gutter md-align="center">
					<md-layout md-flex-xsmall="80" md-flex-small="80" md-flex-medium="70" md-flex-large="50" class="bhs-index-main-panel">
						<md-layout md-flex-xsmall="100" md-flex-small="100" md-flex-medium="50" md-flex-large="50" class="bhs-left-index-panel">
							<md-card-header>
								<div class="md-title"><h1 class="bhs-index-main-title">BHS-Lab</h1></div><br>
								<div class="md-subhead bhs-index-main-subtitle">Biological Health Services</div>
								<div class="md-subhead bhs-index-main-subtitle">Form Builder Admin Console</div>
							</md-card-header>
						</md-layout>

						<md-layout md-flex-xsmall="100" md-flex-small="100" md-flex-medium="50" md-flex-large="50" class="bhs-right-index-panel">
							
							<form @submit.stop.prevent="bhsadmin_func_login" class="bhs-index-main-form">

								<center><h1 class="bhs-index-main-form-title">Welcome!</h1></center>
								<br>

								<md-input-container>
									<label>Email <small>+8 chars</small></label>
									<md-input type="email" v-model="bhsadmin_var_username" required></md-input>
								</md-input-container>

								<md-input-container md-has-password>
									<label>Password <small>+8 chars</small></label>
									<md-input type="password" v-model="bhsadmin_var_password" required></md-input>
								</md-input-container>

								<br>
								<center>
									<md-button class="md-raised md-warn bhs-index-main-form-button" type="button" v-on:click.native="$refs.authConfirm.open()">Signup</md-button>
									<md-button class="md-raised md-primary bhs-index-main-form-button" type="submit">Login</md-button><!-- v-on:click.native="bhsadmin_func_login" -->
								</center>
								<br>

								<md-snackbar :md-position="'top center'" ref="snackbar" :md-duration="'4000'">
									<span>{{ bhsadmin_var_snackbar }}</span>
									<md-button @click.native="$refs.snackbar.close()"><span class="lnr lnr-cross"></span></md-button>
								</md-snackbar>
							</form>
						</md-layout>
					</md-layout>
				</md-layout>

				<md-dialog ref="authConfirm">
					<md-dialog-content>
						<form @submit.stop.prevent="bhsadmin_func_signup">
							<md-input-container>
								<label>Auth</label>
								<md-input type="password" v-model="bhsadmin_var_auth" required></md-input>
							</md-input-container>
							<center>
								<md-button class="md-raised md-primary bhs-index-main-form-button" type="submit">Confirm</md-button>
							</center>
						</form>
					</md-dialog-content>
				</md-dialog>
			</div>
		</div>

		<script src="frontend/js/conf.json"></script>
		<script src="frontend/js/bhs-admin-index.js"></script>
	</body>
</html>