/* Dashboard */
	[v-cloak] {
		display: none;
	}

	::-webkit-scrollbar {
	    width: 8px;
	}
	::-webkit-scrollbar-track {
	    background-color: #efefef;
	}
	::-webkit-scrollbar-thumb {
	    background-color: #ccc;
	}
	::-webkit-scrollbar-thumb:hover {
	  background-color: #aaa;
	}

	a, a:hover { 
		/*color: blue !important;*/
		text-decoration: none !important; 
	}

	.uppercase {
		text-transform: uppercase !important;
	}

	/* profilepanel */
	.bhsuser-dashboard-profilepanel {
		width: 100%;
		height: 70vh;
		overflow: hidden;
	}

	.bhsuser-dashboard-profilepanel:hover {
		overflow: auto;
	}

	.bhsuser-dashboard-profilepanel-toolbar {
		width: 100% !important;
		height: 10vh;
		background-color: #006064;
		color: #E2E2E4;
		padding-left: 20px;
	}

	.bhsuser-dashboard-profilepanel-online {
		font-size: 10px;
	}

	.bhsuser-dashboard-profilepanel-searchuser {
		width: 100%;
		height: 20vh;
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 20px;
	}


	/* timelinepanel */
	.bhsuser-dashboard-timelinepanel {
		background-color: #f9f9f9 !important;
		width: 100%;
		height: 100vh;
		overflow: hidden;
	}

	.bhsuser-dashboard-timelinepanel:hover {
		overflow: auto;
	}

	.bhsuser-dashboard-timelinepanel-item {
		cursor: pointer;
	}

	.bhsuser-dashboard-timelinepanel-tags {
		font-size: 20px;
	}

	/* overviewpanel */
	.bhsuser-dashboard-overviewpanel-toolbar {
		width: 100%;
		height: 10vh;
	}

	.bhsuser-dashboard-overviewpanel-navIcon,
	.bhsuser-dashboard-overviewpanel-nav {
		color: #595959 !important;
	}

	.bhsuser-dashboard-overviewpanel-nav {
		font-weight: 400;
		text-transform: capitalize !important;
		margin-left: 35px;
		cursor: pointer;
	}

	.bhsuser-dashboard-overviewpanel-content {
		height: 90vh;
		overflow: hidden;
	}

	.bhsuser-dashboard-overviewpanel-content:hover {
		overflow: auto;
	}

	/* response-overview */
	.bhsuser-dashboard-overviewpanel-response-overview {
		background-color: #006064;
		height: 170px;
		padding: 20px;
		padding-top: 30px;
	}

	.bhsuser-dashboard-overviewpanel-rOV-panel {
		text-align: center;
	}

	.bhsuser-dashboard-overviewpanel-rOV-panel > span {
		color: #E2E2E4 !important;
		font-weight: 200;
	}

	.bhsuser-dashboard-overviewpanel-toolbar-menu {
		float: right;
		padding-top: 15px;
	}

	.bhsuser-dashboard-overviewpanel-toolbar-menuCommon {
		float: right; 
		padding-top: 29px;
	}

	/* forms-overview */
	.bhsuser-dashboard-overviewpanel-forms-overview {
		background-color: #00897B;
		height: 170px;
		padding: 20px;
		padding-top: 30px;
	}

	.bhsuser-dashboard-overviewpanel-fOV-panel {
		text-align: center;
	}

	.bhsuser-dashboard-overviewpanel-fOV-panel > span {
		color: #E2E2E4 !important;
		font-weight: 200;
	}

	/* home-welcome */
	.bhsuser-dashboard-overviewpanel-home-welcome {
		padding-top: 10%;
		cursor: pointer;
	}

	.bhsuser-dashboard-overviewpanel-home-welcome > center > span {
		color: #727272 !important;
		font-weight: 200;
	}

/* BUILDER */
	
	/* Default */

	/* dndOptions */
	.bhsuser-dashboard-overviewpanel-dndOptions {
		width: 100%;
		background-color: #E0E0E0; /*#23241F;*/
		/*box-shadow: 0px 2px 5px #0E070F;*/
		padding: 10px;

		/*color: #CCCCCC;*/
		/*font-weight: bold;*/
	}

	.dndOptions-menu {
		background-color: #CCCCCC;
		border-radius: 5px;
		padding: 5px;
		cursor: pointer;
	}

	.dndOptions-label {
		padding-top: 5%;
		cursor: pointer;
		margin-left: 10px; 
	}

	/* dndPanel */
	.bhsuser-dashboard-overviewpanel-dndPanel {
		overflow: auto !important;
	}

	.bhsuser-dashboard-overviewpanel-dndPanel:hover {
		/*overflow: auto;*/
	}